main{
    margin:0 auto;
    width:90vw;
    height:90vh;
    font-family: Arial, Helvetica, sans-serif;
}
.chat-section{
    background-color: #a8cbfeff;
    width:90vw;
    height:90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.chat-content{
    border-radius: 26px;
    height: 60vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-header{
    border-radius: 26px;
    height: 10%;
    position: relative;
}

.left-body{
    background-color: #0b5cd580;
    border-radius: 26px;
    height: 80%;
}

.left-body .header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.panel-header-text{
    background-color: #6aa1f7b2;
    border-radius: 26px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.left-body ul{
    text-align: start;
    color:white;
    font-weight: bold;
    list-style: none;
    line-height: 24px;
    text-shadow: 2px 2px 2px #000000;
}


.right{
    background-color: #0b5cd580;
    border-radius: 26px;
    width: 70%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chat-box{
    height:70%;
    width: 90%;
    border-radius: 26px;
    background-color: #0b5cd580;
    margin-top: 45px;
    position: relative;
    overflow-y: auto;
  
  
}

.chat-box::-webkit-scrollbar {
    width: 20px;
  }
  
  .chat-box::-webkit-scrollbar-track {
    border-radius: 100px;
  }

  .chat-box::-webkit-scrollbar-button {
    height: 30px;
  }
  .chat-box::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #709ad4;
  }

.chat-controls{
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}



.chat-button{
    position: absolute;
    background-color: #6aa1f780;
    width: 95%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 26px;
    z-index: 1;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.chat-button:hover{
    background-color: #f33c6188;
}
.chat-button-rounds{
    background-color: #0b5cd580;
    border-radius: 26px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.chat-glass-shadow{
    position: absolute;
    background-color: #000000;
    height: 88%;
    width: 98%;
    top: 5.1px;
    left: 6.2px;
    border-radius: 26px;
    opacity: .5;
    mix-blend-mode: color-dodge;
}
.logout{
    background-color: #b92d3a80;
}

.logout-shadow{
    background-color: #e7768180;
}
.chat-text-rounds{
    background-color: #0b5cd580;
    border-radius: 26px;
    width: 43%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chat-text-input{
    position: absolute;
    background-color: #6aa1f780;
    width: 304.271px;
    height: 72.000px;
    border-radius: 26px;
    z-index: 1;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.chat-text-input:focus{
    border: none;
}
.chat-room-id{
    text-align: center;
    padding: 0 20px;
    position: absolute;
    background-color: #6aa1f780;
    width: 98%;
    height: 90%;
    border-radius: 26px;
    z-index: 1;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}
.chat-room-id:focus{
    border: none;
    outline: none;
    
}
.chat-room-id:hover{
    transition: .5s;
    background-color: #6aa1d150;
}
.chat-room-id::placeholder{
    color:rgba(255, 255, 255, 0.405);
}
form{
    display: contents;
}

.send-button{
    border:none;
    position: absolute;
    background-color: #6aa1f780;
    width: 95%;
    height: 90%;
    border-radius: 26px;
    z-index: 1;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.send-button:hover{
    background-color: #6aa1f730;
}
.send-button-rounds{
    background-color: #0b5cd580;
    border-radius: 26px;
    width:20%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.send-glass-shadow{
    position: relative;
    background-color: #000000;
    width: 95%;
    height: 90%;
    border-radius: 26px;
    top: 2.1px;
    left: 2.2px;
    opacity: .3;
}


/* CSS talk bubble */
.talk-bubble {
	margin-top: 20px;
    position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}
.border{
    border: 8px solid #666;
}
.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}


.box3 {
    width: 170px;
    margin: 10px;
    border-radius: 15px;
    background: #bfbfbfff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: arial;
    overflow: hidden;
    word-wrap: break-word;
  }

  .box4 {
    background: #81b4feff;
  }

  .row-right{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    position: relative;
  }

  .row-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    position: relative;
  }

  .sb13:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #bfbfbfff;
    border-right: 15px solid transparent;
    border-top: 15px solid #bfbfbfff;
    border-bottom: 15px solid transparent;
    right: -8px;
    top: 10px;
  }
  
  
  /* speech bubble 14 */
  
  .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #81b4feff;
    border-top: 15px solid #81b4feff;
    border-bottom: 15px solid transparent;
    left: -8px;
    top: 10px;
  }

  .Server{
    font-size: small;
  }

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.notification{
    color:white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}